In [1]:
import pandas as pd 
import numpy as np

In [2]:
data1=pd.read_csv("datasets/deliveries.csv")
data2=pd.read_csv("datasets/matches.csv")

In [3]:
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
data2.head()

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,18/04/2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,19/04/2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,19/04/2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,20/04/2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,20/04/2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [5]:
data1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [6]:
total_run = data1.groupby(['match_id','inning']).sum()['total_runs'].add(1).reset_index()

In [7]:
total_run

      match_id  inning  total_runs
0       335982       1         223
1       335982       2          83
2       335983       1         241
3       335983       2         208
4       335984       1         130
...        ...     ...         ...
2212   1426310       2         175
2213   1426311       1         176
2214   1426311       2         140
2215   1426312       1         114
2216   1426312       2         115

[2217 rows x 3 columns]

In [8]:
total_run = total_run[total_run['inning']==1]
total_run

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2207   1426307       1         215
2209   1426309       1         160
2211   1426310       1         173
2213   1426311       1         176
2215   1426312       1         114

[1095 rows x 3 columns]

In [9]:
match_df = data2.merge(total_run[['match_id','total_runs']],left_on='match_id',right_on='match_id')
match_df

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,total_runs
0,335982,2007/08,Bangalore,18/04/2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,223
1,335983,2007/08,Chandigarh,19/04/2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,241
2,335984,2007/08,Delhi,19/04/2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,130
3,335985,2007/08,Mumbai,20/04/2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,166
4,335986,2007/08,Kolkata,20/04/2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,19/05/2024,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,215
1091,1426309,2024,Ahmedabad,21/05/2024,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,160
1092,1426310,2024,Ahmedabad,22/05/2024,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,173
1093,1426311,2024,Chennai,24/05/2024,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,176
1094,1426312,2024,Chennai,26/05/2024,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,114

In [10]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

In [11]:
match_df['team1'] = match_df['team1'].replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].replace('Kings XI Punjab','Punjab Kings')

In [12]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Delhi Capitals                 126
Sunrisers Hyderabad            125
Mumbai Indians                 123
Punjab Kings                   123
Kolkata Knight Riders          121
Rajasthan Royals               101
Pune Warriors                   23
Lucknow Super Giants            23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Rising Pune Supergiant           7
Name: count, dtype: int64

In [13]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad',
         'Lucknow Super Giants',
         'Gujarat Titans'
         ]

In [14]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [15]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    127
Chennai Super Kings            124
Delhi Capitals                 118
Sunrisers Hyderabad            117
Punjab Kings                   115
Mumbai Indians                 113
Kolkata Knight Riders          113
Rajasthan Royals                97
Lucknow Super Giants            22
Gujarat Titans                  19
Name: count, dtype: int64

In [16]:
match_df.shape

(965, 21)

In [17]:
match_df = match_df[['match_id','city','winner','total_runs', 'team1', 'team2']]

In [18]:
match_df.shape

(965, 6)

In [19]:
second_innings = match_df.merge(data1,on='match_id')
second_innings

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [20]:
second_innings = second_innings[second_innings['inning']==2]
second_innings.shape

(111082, 22)

In [21]:
second_innings['team1'] = second_innings['team1'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['team2'] = second_innings['team2'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['team1'] = second_innings['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['team2'] = second_innings['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['team1'] = second_innings['team1'].replace('Kings XI Punjab','Punjab Kings')
second_innings['team2'] = second_innings['team2'].replace('Kings XI Punjab','Punjab Kings')

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3768637699.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Kings XI Punjab','Punjab Kings')

In [22]:
second_innings['team1'].value_counts()

team1
Chennai Super Kings            14752
Royal Challengers Bangalore    14289
Sunrisers Hyderabad            13535
Delhi Capitals                 13513
Punjab Kings                   13229
Mumbai Indians                 13162
Kolkata Knight Riders          12771
Rajasthan Royals               11186
Lucknow Super Giants            2488
Gujarat Titans                  2157
Name: count, dtype: int64

In [23]:
second_innings.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'team1', 'team2',
       'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='object')

In [24]:
second_innings.shape

(111082, 22)

In [25]:
#function tp determine bowling team
def determine_bowling_team(row):
    if row['batting_team'] == row['team1']:
        return row['team2']
    else:
        return row['team1']

# Create the new 'BowlingTeam' column
second_innings['bowling_team'] = second_innings.apply(determine_bowling_team, axis=1)

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\569777432.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings.apply(determine_bowling_team, axis=1)

In [26]:
second_innings['batting_team'] = second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['batting_team'] = second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['batting_team'] = second_innings['batting_team'].replace('Kings XI Punjab','Punjab Kings')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Kings XI Punjab','Punjab Kings')

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1160698263.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Kings XI Punjab','Punjab Kings')

In [27]:
second_innings

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [28]:
second_innings['bowling_team'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [29]:
second_innings.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'team1', 'team2',
       'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='object')

In [31]:
print(second_innings.dtypes)

match_id             int64
city                object
winner              object
total_runs_x         int64
team1               object
team2               object
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batter              object
bowler              object
non_striker         object
batsman_runs         int64
extra_runs           int64
total_runs_y         int64
extras_type         object
is_wicket            int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [32]:
second_innings['total_runs_y'] = pd.to_numeric(second_innings['total_runs_y'], errors='coerce')

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\773179244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['total_runs_y'] = pd.to_numeric(second_innings['total_runs_y'], errors='coerce')

In [33]:
second_innings['total_runs_y'].fillna(0, inplace=True)  # Replace NaNs with 0, or
# second_innings.dropna(subset=['total_runs_y'], inplace=True)  # Drop rows with NaNs in 'total_runs_y'

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\189899641.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  second_innings['total_runs_y'].fillna(0, inplace=True)
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\189899641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['total_runs_y'].fillna(0, inplace=True)

In [37]:
second_innings['current_Score'] = second_innings.groupby('match_id')['total_runs_y'].cumsum()

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\2616048482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['current_Score'] = second_innings.groupby('match_id')['total_runs_y'].cumsum()

In [38]:
second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_Score']
second_innings

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3504902464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_Score']

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,current_Score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,1,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,1,wides,0,NaN,NaN,NaN,2,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,0,NaN,NaN,NaN,2,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,3,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,4,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,110,110,4
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,111,111,3
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,112,112,2
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,113,113,1
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,114,114,0

In [39]:
second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])
second_innings

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3450208605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,current_Score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,NaN,NaN,NaN,1,1,222,125
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,wides,0,NaN,NaN,NaN,2,2,221,124
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,0,NaN,NaN,NaN,2,2,221,123
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,NaN,NaN,NaN,3,3,220,122
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,NaN,NaN,NaN,4,4,219,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,NaN,NaN,NaN,110,110,4,67
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,NaN,NaN,NaN,111,111,3,66
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,NaN,NaN,NaN,112,112,2,65
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,NaN,NaN,NaN,113,113,1,64
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,NaN,NaN,NaN,114,114,0,63

In [40]:
# Select the columns of interest
columns_to_check = ['current_Score', 'runs_left', 'balls_left']

# Check how many values in each column are negative
negative_counts = second_innings[columns_to_check].lt(0).sum()

# Display the counts
print("Number of negative values in each column:")
print(negative_counts)

Number of negative values in each column:
current_Score      0
runs_left        303
balls_left         0
dtype: int64

In [45]:
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x:x if x=="0" else "1")
second_innings['player_dismissed'] = second_innings['player_dismissed'].astype('int')
wickets = second_innings.groupby('match_id')['player_dismissed'].cumsum()
second_innings['wickets_remaining'] = 10-wickets
second_innings

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\2397989033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\2397989033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x:x if x=="0" else "1")
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\2397989033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_dismissed'] = second_innings['player_dismissed'].astype('int')
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\2397989033.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['wickets_remaining'] = 10-wickets

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,current_Score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,1,NaN,NaN,1,1,222,125,9
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,wides,0,1,NaN,NaN,2,2,221,124,8
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,1,NaN,NaN,2,2,221,123,7
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,1,NaN,NaN,3,3,220,122,6
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,1,NaN,NaN,4,4,219,121,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,NaN,0,1,NaN,NaN,110,110,4,67,-53
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,NaN,0,1,NaN,NaN,111,111,3,66,-54
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,0,1,NaN,NaN,112,112,2,65,-55
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,0,1,NaN,NaN,113,113,1,64,-56
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,0,1,NaN,NaN,114,114,0,63,-57

In [46]:
second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1691903609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\1691903609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,player_dismissed,dismissal_kind,fielder,current_score,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,NaN,1,1,222,125,9,-1.20,10.66
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,NaN,2,2,221,124,8,-3.00,10.69
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,NaN,2,2,221,123,7,-4.00,10.78
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,NaN,3,3,220,122,6,-9.00,10.82
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,NaN,4,4,219,121,5,-24.00,10.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,NaN,110,110,4,67,-53,12.45,0.36
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,NaN,111,111,3,66,-54,12.33,0.27
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,NaN,112,112,2,65,-55,12.22,0.18
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,NaN,113,113,1,64,-56,12.11,0.09
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,NaN,114,114,0,63,-57,12.00,0.00

In [47]:
def winning_team(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [48]:
second_innings['results'] = second_innings.apply(winning_team,axis=1)
second_innings

C:\Users\Aravind\AppData\Local\Temp\ipykernel_39068\3063299583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['results'] = second_innings.apply(winning_team,axis=1)

,match_id,city,winner,total_runs_x,team1,team2,inning,batting_team,bowling_team,over,...,dismissal_kind,fielder,current_score,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,1,1,222,125,9,-1.20,10.66,0
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,2,2,221,124,8,-3.00,10.69,0
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,2,2,221,123,7,-4.00,10.78,0
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,3,3,220,122,6,-9.00,10.82,0
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,4,4,219,121,5,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,NaN,NaN,110,110,4,67,-53,12.45,0.36,1
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,NaN,NaN,111,111,3,66,-54,12.33,0.27,1
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,NaN,112,112,2,65,-55,12.22,0.18,1
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,NaN,113,113,1,64,-56,12.11,0.09,1
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,NaN,NaN,114,114,0,63,-57,12.00,0.00,1

In [50]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,125,9,223,-1.20,10.66,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,124,8,223,-3.00,10.69,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,123,7,223,-4.00,10.78,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,122,6,223,-9.00,10.82,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,121,5,223,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...
230277,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,-53,114,12.45,0.36,1
230278,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,-54,114,12.33,0.27,1
230279,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,-55,114,12.22,0.18,1
230280,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,-56,114,12.11,0.09,1
230281,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,-57,114,12.00,0.00,1

In [51]:
required_data = required_data.replace([np.inf, -np.inf], np.nan)
required_data = required_data.dropna()

In [52]:
required_data = required_data[required_data['crr'] >= 0]

In [53]:
columns_to_check = ['runs_left', 'balls_left', 'wickets_remaining', 'total_runs_x', 'crr', 'rrr', 'results']

required_data = required_data[~(required_data[columns_to_check] < 0).any(axis=1)]

In [54]:
required_data.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
130,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,3,223,24.0,11.04,0
131,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,2,223,24.0,11.04,0
132,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,118,1,223,12.0,11.14,0
133,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,215,117,0,223,16.0,11.03,0
355,Punjab Kings,Punjab Kings,Chandigarh,231,119,3,241,60.0,11.65,0

In [55]:
numeric = required_data[['runs_left', 'balls_left', 'wickets_remaining', 'total_runs_x', 'crr', 'rrr', 'results']]
has_infinite_values = np.any(np.isinf(numeric))

# Check for negative values in the entire DataFrame
has_negative_values = (numeric < 0).any().any()

# Check for null values in the entire DataFrame
has_null_values = numeric.isnull().any().any()

# Display the results
print(f"Has Infinite Values: {has_infinite_values}")
print(f"Has Negative Values: {has_negative_values}")
print(f"Has Null Values: {has_null_values}")

Has Infinite Values: False
Has Negative Values: False
Has Null Values: False

In [56]:
required_data.to_csv("dataset.csv", index=False)

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x = required_data.iloc[:, :-1]
y = required_data.iloc[:,-1]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=100)
x_train.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr
28708,Royal Challengers Bangalore,Punjab Kings,Bangalore,204,125,9,204,-0.0,9.79
5599,Rajasthan Royals,Chennai Super Kings,Jaipur,110,125,9,110,-0.0,5.28
185266,Royal Challengers Bangalore,Mumbai Indians,Pune,150,119,3,152,12.0,7.56
178980,Royal Challengers Bangalore,Sunrisers Hyderabad,Abu Dhabi,132,117,1,142,20.0,6.77
199532,Delhi Capitals,Lucknow Super Giants,Lucknow,186,119,2,194,48.0,9.38

In [62]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Corrected code using `sparse_output=False`
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [64]:
pipe.fit(x_train,y_train)

c:\Users\Aravind\anaconda3\envs\myenv\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [65]:
y_pred = pipe.predict(x_test)

In [66]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7313182199832073

In [67]:
pipe.predict_proba(x_test)[0]

array([0.92890067, 0.07109933])

In [68]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [69]:
from sklearn.ensemble import RandomForestClassifier

ra_pipe = Pipeline([
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

ra_pipe.fit(x_train,y_train)

ra_y_pred = ra_pipe.predict(x_test)

accuracy_score(y_test,ra_y_pred)

0.9319899244332494

In [70]:
import pickle
pickle.dump(ra_pipe,open('ra_pipe.pkl','wb'))

In [71]:
required_data.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
130,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,3,223,24.0,11.04,0
131,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,2,223,24.0,11.04,0
132,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,118,1,223,12.0,11.14,0
133,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,215,117,0,223,16.0,11.03,0
355,Punjab Kings,Punjab Kings,Chandigarh,231,119,3,241,60.0,11.65,0